<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/job_hub_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/job_hub_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HubJob"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HomeActivity" android:exported="true" />
        <activity android:name=".JobSeekerActivity" android:exported="true" />
       <activity android:name=".EmployerActivity" android:exported="true" />
        <activity android:name=".JobSeekerRegistrationActivity" android:exported="true" />
       <activity android:name=".EmployerRegistrationActivity" android:exported="true" />
        <activity android:name=".ForgotPasswordActivity" android:exported="true" />
        <activity android:name=".ForgotPasswordSuccessActivity" android:exported="true" />
        <activity android:name=".JobSeekerDashboardActivity" android:exported="true" />
       <activity android:name=".EmployerDashboardActivity" android:exported="true" />
        <activity android:name=".JobsActivity" android:exported="true" />
        <activity android:name=".MyApplications" android:exported="true" />
        <activity android:name=".JobSeekerProfileActivity" android:exported="true" />
        <activity android:name=".ForgotPasswordFailedActivity" android:exported="true" />
       <activity android:name=".EmployerProfileActivity" android:exported="true" />
       <activity android:name=".PostJobActivity" android:exported="true" />
       <activity android:name=".PostedJobsActivity" android:exported="true" />
       <activity android:name=".JobDetailsActivity" android:exported="true" />
       <activity android:name=".MySavedJobs" android:exported="true" />
       <activity android:name=".RecommendedJobsActivity" android:exported="true" />
       <activity android:name=".AdminJobsActivity" android:exported="true" />
       <activity android:name=".EmployerApplications" android:exported="true" />
       <activity android:name=".ApplicantDetailsActivity" android:exported="true" />
       <activity android:name=".MyJobAlertActivity" android:exported="true" />
       <activity android:name=".MyJobAlertSuccessActivity" android:exported="true" />
       <activity android:name=".MyJobAlertErrorActivity" android:exported="true" />
       <activity android:name=".ManageJobPreferenceActivity" android:exported="true" />
       <activity android:name=".DeleteSuccessActivity" android:exported="true" />
    </application>

</manifest>